@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <p>Please use the upload feature to import a HURDAT2 file for processing.</p>
    <label for="fileUpload">Upload HURDAT2 File Here: </label>
    <input type="file" id="fileUpload" name="fileUpload"/>
    <input type="submit" id="submitBtn"/>
</div>
